body{
  background: url('./assets/images/Background.png') no-repeat;
  background-size: 100% 100%;
  font-family: PT Sans, serif;
}

html {
    height: 100%
}

.container{
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}

::placeholder{
  color: black;
}

h1{
  margin: 2rem 0.4rem;
  font-weight: 100;
}

.footer-icons{
  display: flex;
  position: fixed;
  bottom: 0;
  height: 8.7rem;
  border-top: 2px solid #D8D8D8;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.footer-icons *{
  margin: 0.5rem;
}